header {
  background-color: #C0FF88;
  height: 77px;
  width: 100%;
}

.Header_img {
  float: right;
  height: 50px;
  width: 50px;
}

h1 {
  display: flex;
  justify-content: center;
}

nav a{
  width: 151px;
  height: 37px;
  border-radius: 20px;
  text-decoration: none;
  pading: 10px;
  margin: 45px;
}

.pass_active {
  background: rgba(166, 12, 61, 0.50);
}

.pass_off {
  background: #C0FF88;
}

ul {
  list-style: url("images/Rectangle 13.png")
}

footer {
  background-color: #C0FF88;
  height: 77px;
  width: 430px;
}

footer img {
  width: 171px;
  height: 64px;
}

h3 {
  bacrground-color: #C0FF88;
}

ol {
  bacrground-color: #C0FF88;
}
