header {
  background-color: #C0FF88;
  height: 77px;
  width: 430px;
}

nav a{
  width: 151px;
  height: 37px;
  border-radius: 20px;
  text-decoration: none;
  pading: 10px;
  margin: 45px;
}

.pass_active {
  background: rgba(166, 12, 61, 0.50);
}

.pass_off {
  background: #C0FF88;
}

ul {
  list-style: square url("images/галочка.png")
  width: 46px;
  height: 38px;
}

footer {
  background-color: #C0FF88;
  width: 171px;
  height: 64px;
}
